.footer {
    grid-column: 1/25;
    grid-row: 22/25;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    background-color: rgb(51, 51, 51);
}

.footer-text {
    grid-area: 1/2/4/2;

    display: grid;
    place-items: center;
    text-align: center;

    line-height: 1.5;
    overflow: auto;
    color: rgb(255, 255, 255);
}
