.footer {
    grid-area: 33/1/37/25;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);

    background-color: rgb(51, 51, 51);
}

.footer-text {
    grid-area: 2 / 2 / 11 / 23;

    display: grid;
    place-items: center;
    text-align: center;

    line-height: 1.5;
    overflow: auto;
    color: rgb(255, 255, 255);
}
