@font-face {
    font-family: daikon;
    src: url(../fonts/daikon-extra-light.otf);
}

.main {
    grid-area: 4/1/33/25;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(36, 1fr);

    background-color: rgb(242, 242, 242);
}

.title {
    grid-area: 2 / 2 / 4 / 12;

    display: grid;
    place-items: center;
    font-size: 8vw;
    overflow: hidden;

    font-family: daikon;
}

.emblem {
    grid-area: 4 / 2 / 6 / 12;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.blocks {
    grid-area: 6 / 2 / 23 / 12;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(23, 1fr);

    z-index: 2;
}

.blocks > div {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);

    overflow: auto;
    padding: 20px;
}

.blocks > div > .card-title {
    font-size: 18px;
    font-weight: bold;
}

.blocks > div > p {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 5px;
}

.blocks .first {
    grid-area: 1 / 2 / 8 / 12;
}

.blocks .second {
    grid-area: 9 / 2 / 16 / 12;
}

.blocks .third {
    grid-area: 17 / 2 / 24 / 12;
}

.picture {
    grid-area: 24/2/34/12;

    display: grid;
    place-items: center;
    overflow: hidden;

    z-index: 1;
}

@media (max-width: 425px) {
    .picture img {
        border-radius: 50%;
        width: 60%;
    }

    .emblem img {
        width: 13vw;
    }

    .blocks {
        padding-top: 5vw;
    }
}

@media (min-width: 426px) {
    .picture img {
        border-radius: 50%;
        width: 55%;
    }

    .emblem img {
        width: 10vw;
    }

    .blocks > div {
        padding: 40px;
    }

    .blocks > div > .card-title {
        font-size: 24px;
    }

    .blocks > div > p {
        font-size: 20px;

        padding-top: 10px;
    }
}
